.photo-cont {
    position: relative;
}

.photo-cont img {
    max-width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(87,134,152,0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.photo-cont:hover .overlay {
    height: 100%;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 1em;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.projects-pic img {
    box-shadow: 2px 2px 10px lightgray;
}

.projects-pic div {
    width:48%;
    margin-right:1%;
    margin-left: 1%;
}

.projects-pic {
    margin-bottom: 290px;
}
#landing-page {
    max-width: 100%;
    height: auto;
    margin-top: 2%;

}
.left {
    float: left;
    width: 33.3%;
}
 .details h4, .details h5{
    color: #578698;
}

a[href *= "http"] {
    background-color:#578698; color: white;
    text-decoration: none;
    border-radius: 12px;
    padding: 5px;
}

.text h5 {
    color: white;
}


.details ul li, .details p, .details h4, #projects-info h5 {
    padding-top: 0px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}